@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* .appear {
  animation: appear ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
} */

:root {
  --primary: #000000;
  --pastel: #fffefe;
}

* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;

  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.gowunbatang-reg {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.gowunbatang-bold {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

html,
body {
  overflow: hidden;
}

body {
  background-color: #000f2a;
  display: flex;
  justify-content: left;
}

.moon-button {
  position: fixed;
  right: 30px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  background-image: url("../icon/pause-fill.svg");
  background-size: contain;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}

.moon-button:hover {
  transform: scale(1.1);
}

.moon-button.playing {
  background-image: url("../icon/pause-fill.svg"); /* Ganti dengan URL icon bulan saat bermain */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.moon-button.paused {
  background-image: url("../icon/play-fill.svg"); /* Ganti dengan URL icon bulan saat dijeda */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#sectionBesar {
  display: none;
  transition: all 1s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

#sectionKecil {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s ease-in-out;
}

.pengantin {
  padding: 3px;
  width: 175px;
  height: 300px;
  margin-bottom: 15px;
  border: 4px solid var(--primary);
  border-radius: 100px;
}
.pengantin2 {
  width: 175px;
  height: 250px;
  border: 4px solid var(--pastel);
  border-radius: 100px;
  border: 4px solid var(--primary);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.cover {
  background-color: var(--pastel);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 60% 0;
}
.cover2 {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  animation: fade-in 800ms ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.cover p {
  color: var(--primary);
  font-size: 20px;
  animation: fade-in 800ms ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.cover h1 {
  color: var(--past);
  font-size: 40px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0;
  animation: fade-in 800ms ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.cover div {
  margin-bottom: 20px;
  font-size: 17px;
  animation: fade-in 800ms ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.ayat {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  color: var(--primary);
  animation: fade-in 800ms ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.ayat p.judul {
  margin: 30px 0;
  padding-bottom: 5px;
  width: 70%;
  font-size: 20px;
  color: var(--pastel);
  border-bottom: 3px solid var(--pastel);
  border-radius: 5px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.ayat .arab {
  margin-bottom: 15px;
  font-size: 15px;
  color: var(--pastel);
  color: var(--pastel);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.ayat .translation {
  font-size: 15px;
  color: var(--pastel) !important;
  color: var(--pastel);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.mempelai {
  background-color: var(--pastel);
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 20% 30px;
  color: var(--primary);
  animation: fade-in 800ms ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.mempelai img {
  width: 250px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.mempelai p {
  color: var(--primary);
  margin-top: 18px;
  font-size: 18px;
  font-weight: 700;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.mempelai .desk {
  font-size: 17px;
  font-weight: 500;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.pengantin-pria .foto,
.pengantin-wanita .foto {
  width: 175px;
  height: 250px;
  object-fit: cover;
  padding: 3px;
  margin-top: 20px;
  border-radius: 100px;
  border: 4px solid var(--primary);
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.pengantin-pria h1,
.pengantin-wanita h1 {
  color: var(--primary);
  font-weight: 700;
  margin-top: 10px;
  font-size: 60px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.pengantin-pria h3,
.pengantin-wanita h3 {
  color: var(--primary);
  font-weight: 700;
  font-size: 25px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.pengantin-pria p,
.pengantin-wanita p {
  margin-top: 10px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.pengantin-pria .ig,
.pengantin-wanita .ig {
  cursor: pointer;
  padding: 3% 5%;
  background-color: var(--primary);
  border: 2px solid var(--pastel);
  font-size: 20px;
  border-radius: 10px;
  color: var(--pastel);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.pengantin-pria .instagram,
.pengantin-wanita .instagram {
  width: 20px;
  color: var(--pastel);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.acara {
  background-color: var(--primary);
  color: var(--pastel);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
  width: 100%;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.dan {
  color: var(--primary);
  font-family: "Playfair Display", serif;
  /* font-family: "Dancing Script", cursive; */
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 50px;
  margin: 20px 0;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.akad,
.resepsi {
  background-color: white;
  color: var(--primary);
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.akad .judul,
.resepsi .judul {
  color: var(--primary);
  font-size: 30px;
  font-weight: 700;
  padding: 10px 0;
  padding-bottom: -200px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.akad .tanggal,
.resepsi .tanggal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--primary);
  padding-bottom: 20px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.akad .tanggal .angka,
.resepsi .tanggal .angka {
  color: var(--primary);
  font-size: 100px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.akad .tanggal .teks,
.resepsi .tanggal .teks {
  text-align: start;
  color: var(--primary);
  font-size: 25px;
  line-height: 30px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.akad .garis,
.resepsi .garis {
  color: var(--primary);
  font-size: 35px;
  margin-top: -20px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.akad .Lokasi,
.resepsi .Lokasi {
  margin-top: -10px;
  color: var(--primary);
  padding-bottom: 10px;
  font-weight: 700;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.countdown {
  margin-top: 20px;
  padding: 15px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.countdown h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.lokasi {
  background-color: var(--pastel);
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 19% 30px;
  animation: fade-in 800ms ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.lokasi h1 {
  color: var(--primary);
  font-family: "Playfair Display", serif;
  /* font-family: "Dancing Script", cursive; */
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.lokasi p {
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.lokasi .maps {
  width: 90%;
  height: 250px;
  border: 4px solid white;
  border-radius: 20px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.lokasi .lihatPeta {
  color: var(--primary);
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  border-top: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary);
  border-radius: 15px;
  padding: 5px 40px;
  transition: all 500ms ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.lokasi .lihatPeta:hover {
  background-color: #5490ff71;
  transform: scale(1.1);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.galeri {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--primary);
  animation: fade-in 800ms ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.galeri h1 {
  color: white;
  font-family: "Playfair Display", serif;
  /* font-family: "Dancing Script", cursive; */
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.galeri img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  padding: 5px 5px 15px 5px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.img-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.img-container .mySlide img {
  vertical-align: middle;
  width: 75%;
  height: 400px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.mySlide {
  display: none;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.galeri2 {
  padding: 20px;
  text-align: center;
  background-color: var(--primary);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  color: var(--pastel);
}

.img-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.mySlide2 {
  flex: 1 1 calc(33.333% - 16px); /* Tiga gambar per baris di desktop */
  max-width: calc(33.333% - 16px);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.mySlide2 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.galeri iframe {
  padding: 5px 5px 15px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  background-color: white;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.galeri2 iframe {
  padding: 5px 5px 15px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  background-color: white;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.galeri iframe:hover {
  transform: scale(1.05);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.rsvp {
  background-color: var(--pastel);
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 13% 30px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  color: var(--pastel);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

label {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 5px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.rsvp h1 {
  /* font-family: "Dancing Script", cursive; */
  font-size: 40px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 30px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.confirm {
  font-size: 20px;
  color: var(--primary);
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

input[type="text"],
textarea {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  padding: 10px;
  width: 100%;
  border: 2px solid var(--primary);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: left;
  background-color: #000f2ac6;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.radio-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 140px;
  padding: 10px 5px 5px 5px;
  background-color: #000f2ac6;
  border-radius: 10px;
  border: 2px solid var(--primary);
  cursor: pointer;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.radio-container input[type="radio"] {
  display: none;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.radio-container input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #002c78;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle; /* Align with label text */
  position: relative;
  top: -3px; /* Adjust if necessary */
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.radio-container input[type="radio"]:checked + label::before {
  background-color: #002c78;
  border-color: #002c78;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.radio-container label {
  font-size: 16px;
  color: white;
  cursor: pointer;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.confirm {
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--primary);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

button {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  width: 90%;
  font-size: 16px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

button:hover {
  background-color: #001d4f;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.rsvp h2 {
  font-family: "Playfair Display", serif;
  /* font-family: "Dancing Script", cursive; */
  font-size: 30px;
  color: var(--primary);
  margin-bottom: 20px;
  margin-top: 20px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

#submittedData {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10px;
  width: 110%;
  height: 250px;
  background-color: var(--pastel);
  padding: 20px;
  border-radius: 5px;
  border: 3px solid var(--primary);
  overflow-y: scroll;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

#submittedData h2 {
  font-family: "Playfair Display", serif;
  /* font-family: "Dancing Script", cursive; */
  font-size: 30px;
  color: var(--primary);
  margin-bottom: 20px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.submitted-item {
  background-color: #cca995;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ddd;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.submitted-item h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #8a6c5a;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.submitted-item p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #8a6c5a;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.hadiah {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
  width: 100%;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.hadiah p {
  color: var(--pastel);
}

.hadiah h1 {
  color: var(--pastel);
  font-family: "Playfair Display", serif;
  /* font-family: "Dancing Script", cursive; */
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.hadiah .card {
  width: 90%;
  background-color: var(--pastel);
  margin-top: 20px;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.hadiah .card .bank {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.hadiah .card .bank p {
  color: var(--pastel);
  font-weight: 700;
  text-align: left;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.qris-img {
  display: block;
  margin: 20px auto;
  width: 80%;
}

.hadiah .card img {
  width: 100px;
  justify-content: center;
  align-items: center;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.atau {
  color: var(--primary);
  font-size: 20px;
  margin: 10px 0;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.penutup {
  background-color: var(--pastel);
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 30px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.penutup p {
  color: var(--primary);
  font-size: 18px;
  margin-bottom: 10px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.penutup h1 {
  color: var(--primary);
  font-size: 50px;
  font-family: "Playfair Display", serif;
  /* font-family: "Dancing Script", cursive; */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.penutup div {
  margin-bottom: 20px;
  font-size: 17px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.penutup .garis {
  font-family: "Playfair Display", serif;
  /* font-family: "Dancing Script", cursive; */
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 40px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400&family=Dancing+Script:wght@400;600;700&family=Playball&display=swap");

* {
  font-family: "Playfair Display", serif;
}

.bg-berem {
  background-color: var(--pastel);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.bg-berem {
  background-color: var(--primary);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.text-berem {
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  color: var(--primary);
}

.cerita {
  background-color: var(--pastel);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.cerita .card {
  background-color: var(--primary);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.bg-wakwak {
  background-color: var(--primary);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.bg-wakwak .card p {
  color: var(--primary);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.bg-wakwak .card h3 {
  color: var(--pastel);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.bg-wakwak h1 {
  color: var(--pastel);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.bg-wakwak h2 {
  color: var(--pastel);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.text-wakwak {
  background-color: var(--primary);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.bg-fee {
  background-color: var(--pastel);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.bg-kulit {
  background-color: var(--primary);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.fs-60 {
  font-size: 80px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.fs-45 {
  font-size: 45px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.fs-40 {
  font-size: 40px;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.scale {
  overflow: hidden;
  transition: 0.5s;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.scale:hover {
  transform: scale(1.05);
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.norek {
  cursor: pointer;
  border: none;
  outline: none;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.footer {
  background-color: var(--pastel);
}
.kartu-bri {
  width: 300px;
  background: linear-gradient(135deg, #ffffff, #e0e0e0);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-family: "Arial", sans-serif;
  position: relative; /* penting untuk parent dari tombol yang absolute */
}

.header-kartu {
  text-align: right;
}

.logo-bri {
  width: 50px;
}

.body-kartu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.kiri-kartu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.chip {
  width: 40px;
}

.nomor-rekening {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.nama-rekening {
  font-size: 14px;
  color: #666;
}

.copy-btn {
  bottom: 15px;
  right: 15px;
  background-color: #ccc;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  white-space: nowrap;
}

.copy-btn:hover {
  background-color: #bbb;
}

.block .ins {
  font-size: 30px; /* Ukuran ikon */
  color: #e1306c; /* Warna ikon (merah muda khas Instagram) */
  padding: 20px;
}
.block .tiktok {
  font-size: 30px; /* Ukuran ikon */
  color: #000000; /* Warna ikon (merah muda khas Instagram) */
}

@media (min-width: 768px) {
  #sectionBesar {
    width: 70vw;
    background-image: url(../images/1.JPG);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: fade-in 800ms ease-in-out;
  }

  .pembungkus {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000f2ad7;
    width: 100%;
    height: 100%;
  }
  .pembungkus h1 {
    font-size: 85px;
  }

  #sectionBesar h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 85px;
    margin: 10px 0;
  }

  #sectionBesar p {
    font-size: 40px;
  }

  #sectionKecil {
    width: 30vw;
    border-left: 5px solid #86e9ff;
  }

  .cover {
    background-size: contain;
  }

  .cover p {
    font-size: 20px;
  }

  .cover h1 {
    font-size: 50px;
  }

  .cover div {
    font-size: 15px;
  }

  .open {
    font-size: 15px;
  }

  .mempelai {
    width: 30vw;
  }

  #flipdown {
    width: 100%;
    align-self: center;
    margin-left: 2vw;
  }

  .lokasi .maps {
    width: 26%;
    height: 200px;
  }
  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
    height: 20px;
    width: 20px;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }
}
@media (max-width: 576px) {
  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 3px;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }
}
